<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPrograms</servlet-name>
        <servlet-class>Controller.ViewPrograms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveProgram</servlet-name>
        <servlet-class>Controller.ApproveProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportM1</servlet-name>
        <servlet-class>Controller.ReportM1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeSuggestedPrograms</servlet-name>
        <servlet-class>Controller.SeeSuggestedPrograms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportM2</servlet-name>
        <servlet-class>Controller.ReportM2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportA2</servlet-name>
        <servlet-class>Controller.ReportA2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluateProgram</servlet-name>
        <servlet-class>Controller.EvaluateProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectDisease</servlet-name>
        <servlet-class>Controller.SelectDisease</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckThresholds</servlet-name>
        <servlet-class>Controller.CheckThresholds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProgramProposal</servlet-name>
        <servlet-class>Controller.AddProgramProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetThreshold</servlet-name>
        <servlet-class>Controller.SetThreshold</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartController</servlet-name>
        <servlet-class>Controller.ChartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>Controller.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPatient</servlet-name>
        <servlet-class>Controller.AddPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ITR</servlet-name>
        <servlet-class>Controller.ITR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcknowledgeConsultation</servlet-name>
        <servlet-class>Controller.AcknowledgeConsultation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>Controller.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDisposition</servlet-name>
        <servlet-class>Controller.AddDisposition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientProfile</servlet-name>
        <servlet-class>Controller.PatientProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>Controller.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFamilyCode</servlet-name>
        <servlet-class>Controller.AddFamilyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>Controller.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPatient</servlet-name>
        <servlet-class>Controller.EditPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserPassword</servlet-name>
        <servlet-class>Controller.EditUserPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserPosition</servlet-name>
        <servlet-class>Controller.EditUserPosition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewConsultation</servlet-name>
        <servlet-class>Controller.AddNewConsultation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPatient</servlet-name>
        <servlet-class>Controller.PatientProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUser</servlet-name>
        <servlet-class>Controller.ViewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectConsultation</servlet-name>
        <servlet-class>Controller.SelectConsultation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>diagnoseConsultation</servlet-name>
        <servlet-class>Controller.DiagnoseConsultation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectPendingServiceConsultation</servlet-name>
        <servlet-class>Controller.SelectPendingServiceConsultation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewFamilyPlanningConsultation</servlet-name>
        <servlet-class>Controller.AddNewFamilyPlanningConsultation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewPrenatalConsultation</servlet-name>
        <servlet-class>Controller.AddNewPrenatalConsultation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewPostpartumConsultation</servlet-name>
        <servlet-class>Controller.AddNewPostpartumConsultation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckThresholds</servlet-name>
        <url-pattern>/CheckThresholds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetThreshold</servlet-name>
        <url-pattern>/SetThreshold</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartController</servlet-name>
        <url-pattern>/ChartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPatient</servlet-name>
        <url-pattern>/AddPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveProgram</servlet-name>
        <url-pattern>/ApproveProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeSuggestedPrograms</servlet-name>
        <url-pattern>/SeeSuggestedPrograms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPrograms</servlet-name>
        <url-pattern>/ViewPrograms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientProfile</servlet-name>
        <url-pattern>/PatientProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectDisease</servlet-name>
        <url-pattern>/SelectDisease</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFamilyCode</servlet-name>
        <url-pattern>/AddFamilyCode</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ReportM1</servlet-name>
        <url-pattern>/ReportM1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportM2</servlet-name>
        <url-pattern>/ReportM2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportA2</servlet-name>
        <url-pattern>/ReportA2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcknowledgeConsultation</servlet-name>
        <url-pattern>/AcknowledgeConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDisposition</servlet-name>
        <url-pattern>/AddDisposition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPatient</servlet-name>
        <url-pattern>/EditPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserPassword</servlet-name>
        <url-pattern>/EditUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserPosition</servlet-name>
        <url-pattern>/EditUserPosition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewConsultation</servlet-name>
        <url-pattern>/AddNewConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluateProgram</servlet-name>
        <url-pattern>/EvaluateProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProgramProposal</servlet-name>
        <url-pattern>/AddProgramProposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ITR</servlet-name>
        <url-pattern>/ITR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPatient</servlet-name>
        <url-pattern>/ViewPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUser</servlet-name>
        <url-pattern>/ViewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectConsultation</servlet-name>
        <url-pattern>/SelectConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>diagnoseConsultation</servlet-name>
        <url-pattern>/diagnoseConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectPendingServiceConsultation</servlet-name>
        <url-pattern>/selectPendingServiceConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewFamilyPlanningConsultation</servlet-name>
        <url-pattern>/AddNewFamilyPlanningConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewPrenatalConsultation</servlet-name>
        <url-pattern>/AddNewPrenatalConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewPostpartumConsultation</servlet-name>
        <url-pattern>/AddNewPostpartumConsultation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
